#title-name {
    text-align:center;
}

.nav-bar {
    text-align:center;
    font-size:x-large;
    color:black;
}

html {
    background-color:#f5f5f5;   
}

#about {
    padding: 20px;
    color:black;
    
}

.about-container{
    display:flex;
    gap: 30px;
}

#projects {
    padding: 20px;
    color:black;
}

#contact {
    padding: 20px;
    color:black;
}

#ronsengan {
     width: 200px;
     height: 250px;
}

#bio {
    font: italic bold 15px Arial, sans-serif;
    
}

.intro-line {
    font-size: 32px;
    font-weight: bold;
    color: #333;
    display:block;
    margin-bottom: 15px;
}